{% if warning %}
<p>{{ products }}</p>
{% else %}
<style type="text/css">
#sellproducts-form .price_sale {
    color: #AA0606;
}
#sellproducts-form .price_old {
    text-decoration: line-through;
}
#sellproducts-form .product-quantity {
    border: 0;
}
</style>
<div class="container">
    <div class="row">
        <form data-request="onSellProducts" data-request-redirect="" id="sellproducts-form">
            <div class="col-md-12">
                <strong>{{ form.personal }}</strong>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="first_name" placeholder="{{ form.first_name }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="last_name" placeholder="{{ form.last_name }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="email" placeholder="{{ form.email }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="phone" placeholder="{{ form.phone }}" class="form-control">
            </div>
            {% if billing %}
            <div class="col-md-12">
                <strong>{{ form.billing }}</strong>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="billing_name" placeholder="{{ form.name }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="billing_zipcode" placeholder="{{ form.zipcode }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="billing_city" placeholder="{{ form.city }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="billing_address" placeholder="{{ form.address }}" class="form-control" required>
            </div>
            {% endif %}
            {% if shipping %}
            <div class="col-md-12">
                <strong>{{ form.shipping }}</strong>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="shipping_name" placeholder="{{ form.name }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="shipping_zipcode" placeholder="{{ form.zipcode }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="shipping_city" placeholder="{{ form.city }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="shipping_address" placeholder="{{ form.address }}" class="form-control" required>
            </div>
            {% endif %}
            <div class="col-md-12">
                {% if comment %}
                <textarea name="comment" placeholder="{{ form.comment }}" class="form-control"></textarea><br>
                {% endif %}
                <strong>{{ form.items }}</strong>
            </div>
            <input type="hidden" name="category" value="{{ category }}">
            {% for product in products %}
            <div class="col-md-5">
                {{ product.name }}
                <input type="hidden" name="product[]" value="{{ product.id }}">
            </div>
            <div class="col-md-4">
                {% if product.price_sale %}<span class="price_sale">{{ product.price_sale }}</span> <span class="price_old">{{ product.price }}</span> {% else %}<span class="price_normal">{{ product.price }}</span>{% endif %} {{ category.currency }}
                &nbsp;x&nbsp;
                <input type="number" name="quantity[]" value="0" min="0" max="99" class="product-quantity" data-product="{{ product.id }}" data-price="{% if product.price_sale %}{{ product.price_sale }}{% else %}{{ product.price }}{% endif %}" style="width:35px"> {{ category.unit }}
            </div>
            <div class="col-md-3 text-right">
                <span id="subtotal-{{ product.id }}">0</span> {{ category.currency }}
            </div>
            <div class="clearfix"></div>
            {% endfor %}
            {% if total %}
            <div class="col-md-5">
                <strong>{{ form.total }}:</strong>
            </div>
            <div class="col-md-4">
                <strong><span id="sellproducts-quantity">0</span> {{ category.unit }}</strong>
            </div>
            <div class="col-md-3 text-right">
                <strong><span id="sellproducts-total">0</span> {{ category.currency }}</strong>
            </div>
            <div class="clearfix"></div>
            {% endif %}
            <br>
            <div class="form-group col-md-12">
                {% if payment %}
                <strong>{{ form.payment }}</strong><br>
                {{ payment|raw }}<br>
                {% endif %}
                <input type="submit" value="{{ form.submit }}" class="btn btn-primary">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.product-quantity').change(function() {
        var quantity = 0;
        var total = 0;

        $('.product-quantity').each(function() {
            var gty = parseInt($(this).val());
            var tot = parseInt($(this).attr('data-price')) * gty;

            $('#subtotal-' + $(this).attr('data-product')).html(tot);

            quantity += gty;
            total += tot;
        });

        $('#sellproducts-quantity').html(quantity);
        $('#sellproducts-total').html(total);
    });

    $('.sellproducts-payment').click(function() {
        $('#sellproducts-form').attr('data-request-redirect', $(this).attr('data-redirect'));
    });
});
</script>
{% endif %}
