{% if warning %}
<p>{{ products }}</p>
{% else %}
<style type="text/css">
    label[for="no-shipping"],
    label[for="no-billing"] {
        cursor: pointer;
        font-size: 15px;
        padding-left: 10px;
    }
    .price_sale {
        color: #AA0606;
    }
    .price_old {
        text-decoration: line-through;
    }
    .product-quantity {
        border: 0;
    }
</style>
<div class="container">
    <div class="row">
        <form class="sellproducts" data-request="onSellProducts">
            <div class="col-md-12" style="margin: 20px 0 10px 0;">
                <h4>{{ form.personal }}</h4>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="first_name" placeholder="{{ form.first_name }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="last_name" placeholder="{{ form.last_name }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="email" name="email" placeholder="{{ form.email }}" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="phone" placeholder="{{ form.phone }}" class="form-control">
            </div>
            {% if shipping %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="margin: 6px 0 10px 0;">
                        <h4>{{ form.shipping }}</h4>
                        <input type="checkbox" name="no_shipping" id="no-shipping"> <label for="no-shipping">{{ form.no_shipping }}</label>
                    </div>
                    <div class="form-group shipping col-md-12">
                        <input type="text" name="shipping_name" placeholder="{{ form.name }}" class="form-control" required>
                    </div>
                    <div class="form-group shipping col-xs-4">
                        <input type="text" name="shipping_zipcode" placeholder="{{ form.zipcode }}" class="form-control only-number" required>
                    </div>
                    <div class="form-group shipping col-xs-8">
                        <input type="text" name="shipping_city" placeholder="{{ form.city }}" class="form-control" required>
                    </div>
                    <div class="form-group shipping col-md-12">
                        <input type="text" name="shipping_address" placeholder="{{ form.address }}" class="form-control" required>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if billing %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="margin: 6px 0 10px 0;">
                        <h4>{{ form.billing }}</h4>
                        <input type="checkbox" name="no_billing" id="no-billing"> <label for="no-billing">{{ form.no_billing }}</label>
                    </div>
                    <div class="form-group billing col-md-12">
                        <input type="text" name="billing_name" placeholder="{{ form.name }}" class="form-control" required>
                    </div>
                    <div class="form-group billing col-xs-4">
                        <input type="text" name="billing_zipcode" placeholder="{{ form.zipcode }}" class="form-control only-number" required>
                    </div>
                    <div class="form-group billing col-xs-8">
                        <input type="text" name="billing_city" placeholder="{{ form.city }}" class="form-control" required>
                    </div>
                    <div class="form-group billing col-md-12">
                        <input type="text" name="billing_address" placeholder="{{ form.address }}" class="form-control" required>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if comment %}
            <div class="col-md-12">
                <textarea name="comment" placeholder="{{ form.comment }}" class="form-control"></textarea>
            </div>
            {% endif %}
            <div class="col-md-12" style="margin: 24px 0 4px 0;">
                <h4>{{ form.items }}</h4>
            </div>
            <input type="hidden" name="category" value="{{ category }}">
            {% for product in products %}
            <div class="col-md-5">
                {{ product.name }}
                <input type="hidden" name="product[]" value="{{ product.id }}">
            </div>
            <div class="col-md-4">
                {% if product.sale_price %}<span class="sale_price">{{ product.sale_price }}</span> <span class="price_old">{{ product.price }}</span> {% else %}<span class="price_normal">{{ product.price }}</span>{% endif %} {{ category.currency }}
                &nbsp;x&nbsp;
                <input type="number" name="quantity[]" value="0" min="0" max="{{ product.quantity }}" class="product-quantity" data-product="{{ product.id }}" data-price="{% if product.sale_price %}{{ product.sale_price }}{% else %}{{ product.price }}{% endif %}" style="width:35px"> {{ category.unit }}
            </div>
            <div class="col-md-3 text-right">
                <span id="subtotal-{{ product.id }}">0</span> {{ category.currency }}
            </div>
            <div class="clearfix"></div>
            {% endfor %}
            {% if total %}
            <div class="col-md-5">
                <strong>{{ form.total }}:</strong>
            </div>
            <div class="col-md-4">
                <strong><span id="sellproducts-quantity">0</span> {{ form.unit }}</strong>
            </div>
            <div class="col-md-3 text-right">
                <strong><span id="sellproducts-total">0</span> {{ category.currency }}</strong>
            </div>
            <div class="clearfix"></div>
            {% endif %}
            <br>
            <div class="form-group col-md-12">
                {% if payment %}
                <h4>{{ form.payment }}</h4>
                {{ payment|raw }}<br>
                {% endif %}
                <input type="submit" value="{{ form.submit }}" class="btn btn-primary">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Show/hide shipping fields
    $('#no-shipping').on('click', function() {
        if ($(this).prop('checked') == true) {
        	$('.shipping input').removeAttr('required');
        	$('.shipping').hide();
        }
        else if($(this).prop('checked') == false) {
        	$('.shipping').show();
            $('.shipping input').attr('required', true);
        }
    });
    // Show/hide billing fields
    $('#no-billing').on('click', function() {
        if ($(this).prop('checked') == true) {
        	$('.billing input').removeAttr('required');
        	$('.billing').hide();
        }
        else if($(this).prop('checked') == false) {
        	$('.billing').show();
            $('.billing input').attr('required', true);
        }
    });
    // Quantity calculator
    $('.product-quantity').change(function() {
        var quantity = 0;
        var total = 0;

        $('.product-quantity').each(function() {
            var gty = parseInt($(this).val());
            var tot = parseInt($(this).attr('data-price')) * gty;

            $('#subtotal-' + $(this).attr('data-product')).html(tot);

            quantity += gty;
            total += tot;
        });

        $('#sellproducts-quantity').html(quantity);
        $('#sellproducts-total').html(total);
    });
    // Check number fields
    $('.only-number').on('keypress', function() {
        var keycode = event.keyCode;
        if (keycode > 47 && keycode < 58) return true;
        return false;
    });
});
</script>
{% endif %}
